@font-face {
    font-family: OpenSans_Regular;
    src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: OpenSans_Semibold;
    src: url('../fonts/OpenSans-Semibold.ttf');
}

@font-face {
    font-family: OpenSans_Bold;
    src: url('../fonts/OpenSans-Bold.ttf');
}

@font-face {
    font-family: OpenSans_Italic;
    src: url('../fonts/OpenSans-Semibold.ttf');
}

@font-face {
    font-family: OpenSans_Light;
    src: url('../fonts/OpenSans-Light.ttf');
}

@font-face {
    font-family: Myriad-Pro-Regular;
    src: url('../fonts/Myriad-Pro-Regular.ttf');
}