// Color system

$red:    #e21f2f !default;
$c-purple: #bbc0e3 !default;
$gray-a:    #aaa !default;
$c-gray:    #909090 !default;
$black-4:    #444 !default;
$c-blue: #0a1567 !default;

$b-gray:  #c3c0c0 !default;
$b-red: #e21f2f !default;

$bg-blue: #0a1567 !default;
