.banner-slider{
    padding-top: 40px;
    
    .title{
        color: $white;
        text-transform: uppercase;
        font-size: 30px;
        font-family: Myriad-Pro-Regular;
    }
    .sub-title{
        color: $gray-a;
        margin-bottom: 0;
        font-family: OpenSans_Regular;
        font-size: 15px;
    }
    &.news{
        height: 150px;
        width: 100%;
        background-image: url('../images/banner/maintruckslider1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
       
        &::before{
            content: "";
            background-color: $bg-black;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            opacity: 0.7;
        }
    }
}