
.header {
    z-index: 9999;
    box-shadow: 0px 0px 4.9px 0.1px rgba(4, 5, 5, 0.15);
    position: relative;
    @media (max-width: 992px) { 
        z-index: auto;
    }
    .header-top {
        padding: 15px 0px 10px;
        @media (max-width: 992px) { 
            clear: both;
            display: none;
        }
        .header-top-contact{
            text-align: left;
            @media (max-width: 992px) { 
                text-align: center;
            }
        }
        .header-top-account{
            text-align: right;
            @media (max-width: 992px) { 
                text-align: center;
            }
        }
        .header-top-left{
            .logo{
                clear: both;
                
            }
        }
        .header-top-right{
            display: flex;
            justify-content: flex-end;
            
            .logo{
                clear: both;
                display: none;
                @media (max-width: 992px) { 
                    clear: both;
                    display: block;
                }
            }

            ul {
                margin: 0px;
                padding-left: 0;
                width: 100%;
                margin-right: auto;
                display: flex;
                justify-content: flex-end;
               
                li{
                    clear: both;
                    list-style: none;
                    width: 33%;
                    text-align: left;
                    position: relative;
                    .item{
                        display: flex;
                        justify-content: flex-start;
                        .icon{
                            background-color: $red;
                            border-radius: 50%;
                            padding: 0 2px;
                            height: 15px;
                            width: 15px;
                            line-height: 15px;
                            color: $white;
                            font-size: 10px;
                            text-align: center;
                            margin-right: 5px;
                            &.headphones{
                                background-color: transparent;
                                color: $red;
                                font-size: 13px;
                                line-height: 16px;
                            }
                            &.mail{
                                font-size: 8px;
                            }
                        }
                    }
                    &::after{
                        content: "";
                        border-right: 1px solid $b-gray;
                        position: absolute;
                        height: 35px;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        right: 25%;
                    }
                    &:last-child{
                        &::after{
                            content: "";
                            display: none;
                        }
                    }
                    .title {
                        display: inline-block;
                        width: 100%;
                        font-size: 13px;
                        color: $gray-a;
                        font-family: OpenSans_Regular;
                        line-height: 16px;
                    }
                    a{
                        padding: 0;
                        color: $black-4;
                        font-family: OpenSans_Semibold;
                        font-size: 15px;
                    }
                    
                }
            }
        }

        a {
            display: inline-block;
            padding: 0px 10px;
            line-height: 14px; 
            &:hover{
                color: #9ea3ff;
                text-decoration: none;
            }
            &:first-child {
                padding-left: 0px; 
            }
            :last-child {
                border-right: 0px; 
            }
        }
        
    }
   
}

.header-center{
    background-image: url('../images/bg-menu.jpg');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 44px;
    line-height: 40px;
    
    @media (max-width: 1200px) {
        height: 35px;
        line-height: 35px;
    }

    @media (max-width: 992px) { 
        position: relative;
        background: transparent;
        height: auto;
        line-height: initial;
    }
   
    .btn-menu-mobile{
        display: none;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        line-height: 50px;
        overflow: auto;
        font-size: 25px;
        color: #474747ba; 
        z-index: 99;
        &:focus{
            outline: none;
            border: none;
        }
        @media (max-width: 992px) { 
            display: block;
            opacity: 1;
            .navbar-toggler-icon{
                height: auto;
            }
        }
    }
    .menu-top{ 
        clear: both;
        @media (max-width: 992px) {
            display: none;
            overflow: hidden;
            visibility: hidden;
        }
        nav{
            padding: 0;
            .navbar-nav{
                width: 100%;
                justify-content: flex-end;
                .menu-item{
                    float: left;
                    height: 44px;
                    a{
                        font-family: Myriad-Pro-Regular;
                        font-size: 15px;
                        display: block;
                        height: 44px;
                        line-height: 44px;
                        text-transform: capitalize;
                        color: $white;
                        text-decoration: none;
                        position: relative;
                        margin: 0 10px;
                        padding: 0 5px;
                        background: transparent;
                        -webkit-transition: all 0.3s ease;
                        -moz-transition: all 0.3s ease;
                        transition: all 0.3s ease;
                        
                      
                        @media (max-width: 1370px) {
                            margin: 0 5px;
                            padding: 0 5px;
                            font-size: 14px;
                        }
                        @media (max-width: 1200px) {
                            margin: 0 3px;
                            padding: 0 5px;
                            font-size: 12px;
                            height: 35px;
                            line-height: 35px;
                        }
                        &:hover{
                            background: #00000052;
                            &::after{
                                content: '';
                                width: 90%;
                                position: absolute;
                                height: 2px;
                                background: $b-red;
                                bottom: 0;
                                left: 0;
                                right: 0;
                                margin: 0 auto;
                                webkit-transition: all 1s ease;
                                -moz-transition: all 1s ease;
                                transition: all 1s ease;
                            }
                        }
                    }
                    &>ul{
                        position: absolute;
                        color: #1b1b1b;
                        margin: 0px;
                        z-index: 10;
                        text-align: left;
                        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
                        padding: 15px;
                        border-top: 3px solid #9ea3ff;
                        transform: perspective(600px) rotateX(-90deg);
                        -webkit-transform-origin: 0% 0%;
                        -moz-transform-origin: 0% 0%;
                        -ms-transform-origin: 0% 0%;
                        -o-transform-origin: 0% 0%;
                        transform-origin: 0% 0%;
                        // background: url("../images/bg_mega_img.png") no-repeat;
                        background-size: cover;
                        -webkit-transition: all 0.6s ease;
                        -moz-transition: all 0.6s ease;
                        transition: all 0.6s ease;
                        &.megamenu-menu{
                            right: 0px;
                            left: 0px;
                            min-width: 900px;
                            margin: 0px -10px;
                            @media (min-width: 992px) {
                                min-width: auto;
                            }
                            li{
                                float: left;
                                display: inline-block;
                                width: calc(100% / 5);
                                padding: 0px 10px;
                                a{
                                    padding: 0;
                                }
                                ul{
                                    padding-left: 0;
                                    li{
                                        float: none;
                                        width: 100%;
                                        text-align: left;
                                        a{
                                            font-size: 12px;
                                            text-align: left;
                                            display: block;
                                            line-height: 20px;
                                            padding: 0;
                                            color: #1b1b1b;
                                            text-decoration: none;
                                            background: transparent;
                                            text-transform: none;
                                            -webkit-transition: all 0.3s ease;
                                            -moz-transition: all 0.3s ease;
                                            transition: all 0.3s ease;
                                            font-weight: normal;
                                            &:hover{
                                                color: #b8bcff;
                                                padding-left: 3px;
                                                text-decoration: none;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        &.megamenu{
                            width: 250px;
                            li{
                                position: relative;
                                a{
                                    padding: 0;
                                    margin-bottom: 10px;
                                }
                                &>ul{
                                    position: absolute;
                                    right: -215px;
                                    top: 0px;
                                    width: 200px;
                                    padding: 15px;
                                    // background: url("../images/bg_mega_img.png") no-repeat;
                                    background-size: cover;
                                    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
                                    transform: perspective(600px) rotateX(-90deg);
                                    -webkit-transform-origin: 0% 0%;
                                    -moz-transform-origin: 0% 0%;
                                    -ms-transform-origin: 0% 0%;
                                    -o-transform-origin: 0% 0%;
                                    transform-origin: 0% 0%;
                                }
                                &:hover{
                                    &>ul{
                                        transform: perspective(600px) rotateX(0deg);
                                        z-index: 9999;
                                    }
                                }
                            }
                        }
                    }
                    &:hover{
                        &>ul{
                            transform: perspective(600px) rotateX(0deg);
                        }
                    }
                }
            }
        }
    }
    .header-mobile {
        height: 80px;
        display: none;
        position: fixed;
        top: 0;
        z-index: 99;
        padding-bottom: 90px;
        background: white;
        width: 100%;
        left: 0;
        box-shadow: 0px 2px 11px 1px #000000ab;
        @media (max-width: 992px) { 
            display: block;
        }
        .logo-mobile {
            text-align: center;
            display: flex;
            justify-content: center;
            padding-top: 15px;
        }
    }
}

// menu mobile
body{
    position: relative;
    .menu-mobile{
        -webkit-transform: translateZ(0);
        will-change: transform;
        display: none;
        position: fixed;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        top: 0;
        width: 300px;
        height: 100%;
        background: linear-gradient(to right, #142165, #182159b8);
        padding: 0px;
        z-index: 10;
        left: -300px;
        border-left: 1px solid #e9e9e9;
        // transition: all 1.5s cubic-bezier(0.46, 0.01, 0.32, 1);
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;
        .btn-close-menu{
            position: relative;
            button{
                position: absolute;
                top: 0;
                right: 0;
                background: transparent;
                box-shadow: none;
                border: 0;
                color: #fff;
                width: 30px;
                height: 30px;
                padding: 0;
                z-index: 9999;
            }
        }
        .logo-mobile{
            margin-top: 30px;
            text-align: center;
            a{ 
                clear: both;
                img{
                    clear: both;
                }
            }
        }
        .mobile-nav-search{
            margin-bottom: 30px;
            .search-bar{
                display: table;
                input{
                    box-shadow: none;
                    border-radius: 30px 0 0 30px;
                    padding: 0 15px;
                    height: 34px;
                    line-height: 34px;
                    border: 0px;
                    outline: 0px;
                    width: 100%;
                    background: #fff;
                    display: table-cell;
                    vertical-align: middle;
                    margin: 0;
                }
                .input-group-btn {
                    position: relative;
                    white-space: nowrap;
                    width: 1%;
                    padding: 0;
                    display: table-cell;
                    vertical-align: middle;
                    margin: 0;
                    button{
                        height: 34px;
                        width: 34px;
                        line-height: 34px;
                        padding: 0px;
                        border-radius: 0px 30px 30px 0;
                        border: 0px;
                        outline: 0px;
                        background: #fff;
                        color: #9ea3ff;
                    }
                }
            }
        }
        .menu-item{
            display: block;
            padding: 10px 0;
            background: rgba(184, 188, 255, 0);
            border-left: 3px solid transparent;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            transition: all 0.3s ease;
            position: relative;
            a{
                outline: 0;
                color: #ffffff;
                &:hover{
                    border: 0;
                    outline: 0;
                    text-decoration: none;
                }
                &:focus{
                    border: 0;
                    outline: 0;
                    text-decoration: none;
                }
            }
            .megamenu-menu{
                display: none;
                margin: 0;
                visibility: hidden;
                overflow: hidden;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                // transition: all 700ms cubic-bezier(0.57, 0.06, 0.05, 0.95);
                padding-left: 10px;
                .has-sub-sub{
                    .megamenu-menu-sub{
                        a{
                            &::after{
                                content: "";
                            }
                        }
                    }
                }
            }
            &.megamenu{
                &.has-sub{
                    a{
                        &::after{
                            content: "\f067";
                            font-family: FontAwesome;
                            position: absolute;
                            right: 0;
                            color: #fff;
                            font-size: 12px;
                            vertical-align: middle;
                            text-align: center;
                            padding-top: 5px;
                        }
                        &.open{
                            &::after{
                                content: "\f068";
                                font-family: FontAwesome;
                                position: absolute;
                                right: 0;
                                color: #fff;
                                font-size: 12px;
                                vertical-align: middle;
                                text-align: center;
                                padding-top: 5px;
                            }
                            &+.megamenu-menu{
                                display: block;
                                padding-left: 10px;
                                visibility: visible;
                                // transition: all 700ms cubic-bezier(0.57, 0.06, 0.05, 0.95);
                                clear: both;
                                .menu-item{
                                    padding: 5px 0;
                                    a{
                                        &.menu-item-link{
                                            &::after{
                                                content: '';
                                            }
                                        }
                                    }
                                    &.has-sub-sub{
                                        .megamenu-menu-sub{
                                            display: none;
                                            padding-left: 10px;
                                            margin: 0;
                                            visibility: hidden;
                                            overflow: hidden;
                                            transition: all 300ms cubic-bezier(0.57, 0.06, 0.05, 0.95);
                                            -webkit-backface-visibility: hidden;
                                            backface-visibility: hidden;
                                            .menu-item{
                                                a{
                                                    &::after{
                                                        content: "";
                                                    }
                                                }
                                            }
                                            
                                        }
                                        a{
                                            &::after{
                                                content: "\f067";
                                                font-family: FontAwesome;
                                                position: absolute;
                                                right: 0;
                                                color: #777777;
                                                font-size: 12px;
                                                vertical-align: middle;
                                                text-align: center;
                                                padding-top: 5px;
                                            }
                                            &.open{
                                                &::after{
                                                    content: "\f068";
                                                    font-family: FontAwesome;
                                                    position: absolute;
                                                    right: 0;
                                                    color: #fff;
                                                    font-size: 12px;
                                                    vertical-align: middle;
                                                    text-align: center;
                                                    padding-top: 5px;
                                                }
                                                &+.megamenu-menu-sub{
                                                    display: block;
                                                    padding-left: 10px;
                                                    visibility: visible;
                                                    transition: all 700ms cubic-bezier(0.57, 0.06, 0.05, 0.95);
                                                    a{
                                                        clear: both;
                                                        &::after{
                                                            content: '';
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    
    
                                    
                                }
                            }
                        }
                    }
                }
            }
            

        }
    }
    &.sidebar-open{
        .app-backdrop {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(255, 255, 255, 0.8);
            cursor: pointer;
            z-index: 1;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            transition: all 0.3s ease;
            z-index: 100;
        }
        .header-center{
            .menu-mobile {
                display: block;
                z-index: 9999;
                left: 0;
                // -ms-transform: translateX(300px);
                // -webkit-transform: translateX(300px);
                // transform: translateX(300px);
                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                transition: all 0.3s ease;
            }
            .menu-top{
                display: none;
                nav {
                    .navbar-nav{
                        width: 100%;
                        .menu-item{
                            float: none;
                            a{
                                padding: 6px 20px;
                            }
                            &:hover{
                                ul{
                                    position: static;
                                    background: none;
                                    border: 0;
                                    box-shadow: none;
                                    &.megamenu-menu {
                                        li{
                                            float: none;
                                            width: 100%;
                                        }
                                    }
                                    .megamenu{
                                        li{
                                            float: none;
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                
            }
        }
    }
}