.welcome{
    .item{
        background: $white;
        border-radius: 4px;
        padding: 5px 15px;
        box-shadow: 0 0 9px 0px #928c8c80;
        h3{
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: 30px;
            font-family: OpenSans_Semibold;
            color: $black-4;
            text-transform: uppercase;
            
        }
        p{
            color: $gray-a;
            font-family: OpenSans_Regular;
            font-size: 15px;
            letter-spacing: 0.5px;
        }
        &:hover{
           h3{
               color: #000;
           } 
        }
    }
}
.service{
    .item{
        background: $white;
        border-radius: 4px;
        margin-bottom: 30px;
        .img{
            height: 170px;
            overflow: hidden;
            max-height: 170px;
            text-align: center;
            box-shadow: 0 0 5px 2px #6f686854;
            img{
                height: 100%;
            }
        }
        .content{
            h3{
                margin-top: 20px;
                margin-bottom: 20px;
                font-size: 20px;
                font-family: OpenSans_Semibold;
                color: $black-4;
                text-transform: uppercase;
                
            }
            p{
                color: $gray-a;
                font-family: OpenSans_Regular;
                font-size: 13px;
                letter-spacing: 0.5px;
                margin-bottom: 5px;
            }
            .txt-read-more{
                color: $c-blue;
                font-size: 12px;
            }
        }
    }
}
.our-services-item{
    .item{
        background: $white;
        border-radius: 4px;
        .img{

        }
        .content{
            h3{
                margin-top: 20px;
                margin-bottom: 20px;
                font-size: 20px;
                font-family: OpenSans_Semibold;
                color: $black-4;
                text-transform: uppercase;
                
            }
            p{
                color: $gray-a;
                font-family: OpenSans_Regular;
                font-size: 13px;
                letter-spacing: 0.5px;
                margin-bottom: 5px;
            }
            .txt-read-more{
                color: $c-blue;
                font-size: 12px;
            }
        }
    }
}