.main-slider{
    margin-top: -5px;
    
    .service-new {
        margin-top: -50px;
    }
}

.owl-home-main-slider{
    position: relative;
    .owl-item{
        .item{
            position: relative;
            .content{
                position: absolute;
                z-index: 99;
                top: 25%;
                left: 150px;
                margin: 0 auto;
                .titie{
                    width: 350px;
                    color: $white;
                    font-size: 20px;
                    margin-bottom: 20px;
                }
                p{
                    width: 500px;
                    font-size: 13px;
                    color: $gray-a;
                    margin-bottom: 20px;
                }
            }
        }
        
    }
    .owl-controls{
        .owl-buttons{
            position: absolute;
            top: 15%;
            left: 150px;
            .owl-prev, .owl-next {
                border-radius: 4px;
                padding: 7px 15px;
            }
        }
    }
    
}

.home-brand-slider{
    .owl-item{
        .item{
            border: 1px solid $b-gray;
            text-align: center;
            position: relative;
            width: 90%;
            height: 100px;
            margin: 0 auto;
            a{
                img{
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    width: fit-content;
                }
            }
        }
    }
}
