.our-services-item{
    
    .item{
        margin-bottom: 30px;
        .our-services-name{
                font-family: OpenSans_Regular;
                font-size: 20px;
                margin-bottom: 20px;
                @media (max-width: 992px){
                    font-size: 15px;
                }
            .count-number{
                color: $red;
                
            }
            .title{
                color: $black-4;
                text-transform: uppercase;
                font-size: 18px;
                @media (max-width: 992px){
                    font-size: 15px;
                }
            }
        }
        .our-services-img{
            box-shadow: 0 0 5px 2px #6f686854;
            height: 220px;
            text-align: center;
            overflow: hidden;
            max-height: 220px;
            img{
                height: 100%;
                
            }
        }
        .our-services-content{
            p{
                color: #aaa;
                font-family: OpenSans_Regular;
                font-size: 13px;
                letter-spacing: 0.5px;
                margin-bottom: 5px;
                margin-top: 20px;
            }
           .txt-read-more {
                color: #0a1567;
                font-size: 12px;
            }
        }
    }
}

.service-page{
    margin-top: 40px;
    .service{
        .item{
            .content{
                h3{
                    font-size: 15px;
                }
            }
        }
    }
    .tab-service{
        .nav{
            .nav-link{
                background-color: $bg-e;
                border-radius: 0;
                margin-bottom: 5px;
                color: $c-gray;
                 -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                transition: all 0.3s ease;
                &:hover{
                    background-color: $bg-blue;
                    color: $white;
                    -webkit-transition: all 0.3s ease;
                    -moz-transition: all 0.3s ease;
                    transition: all 0.3s ease;
                }
                &.active{
                    background-color: $bg-blue;
                    color: $white;
                }
            }
        }
    }
    &.service-post-page{
        .tab-content{
            h3{
                font-family: OpenSans_Semibold;
                font-size: 26px;
                color: $black-4;
                text-transform: uppercase;
                margin-top: 15px;
            }
            p{
                font-family: OpenSans_Regular;
                color: $c-gray;
                font-size: 15px;
            }
            ul{
                padding-left: 15px;
                li{
                    list-style: none;
                    font-family: OpenSans_Regular;
                    color: $c-gray;
                    font-size: 15px;
                    .icon {
                        margin-right: 10px;
                        color: $red;
                    }
                }
                &.lst-image{
                    li{
                        margin-bottom: 10px;
                    }
                }
            }
            
        }
    }
}

